@charset "utf-8";
/* SahilCSS Document */
#field {margin-bottom:20px;}
/*new css for page-login*/
.logo-header {
    background-color: rgba(255, 255, 255, 0.97);
    border-bottom: 1px solid #00978F;
    min-height: 50px;
}
.bg-teal{
	background:#00b6ad;
}
.bg-white {
    background: none repeat scroll 0 0 #F8F8F8;
}
.mb20{
	margin-bottom: 20px;
}
.border-radius-left{
	border-radius: 4px 0 0 4px !important;
}
.border-radius-right{
	border-radius: 0px 4px 4px 0px !important;
}
.dropdown-list-white{
	color: #5E5E5E;
	padding: 12px 15px !important;
	font-size: 14px;
}
.arrow-down{margin-left: 70px;}
.nav-pills > li{ background:#fff;}
.nav-pills > li > a.dropdown-list-white:hover,
.nav-pills > li > a.dropdown-list-white:focus {
   color: #5E5E5E; background:#fff;
}
.dropdown-sub-list{min-width: 182px;}
.text-grey5{color: #5e5e5e;}
.text-grey9{color: #999;}
.text-size16{font-size: 16px; line-height: 24px;}
.text-size13{font-size: 13px !important;}
.light{font-weight: 200;}
.mtb10{margin: 10px 0px;}
.mtb22{margin: 22px 0px;}

.btn-linkedin{
	background-color: #007ab9;
    border-color: #006fa8;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.btn-linkedin:hover, .btn-linkedin:focus{color: #fff!important;}
.btn-social {
    font-size: 18px !important;
    line-height: 18px;
    padding: 15px 12px !important;
}
.btn-signin{width: 30%;}
.btn-signup{width: 20%; padding: 12px 10px !important;}
.btn-signup{width: 40%; padding: 12px 10px !important;}
.text-teal-new{color: #00b6ad;}
.text-teal-new:hover{color: #00b6ad; text-decoration: underline;}
.center_border{ border-right: 5px solid #e5e5e5; min-height: 80px;}
.center_text{font-size:18px; color: #5e5e5e; margin: 15% 60%;}
.btn-call{
	background-color: #5e5e5e;
    border-color: #535353;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	 width: 93%;

}
.btn-call:hover, .btn-call:focus{color: #fff;}
.btn-mt78{margin-top:78px;}
.input-white {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #E0E0E0!important;
    border-bottom-width: 1px;
    border-left: medium none !important;
    border-right: medium none !important;
    border-top: medium none !important;
    box-shadow: none;
    height: 50px;
}
.input-white:focus{border-color: none!important;}
.icon-top{top: 8px!important;}
.showdiv{ display:none;}
.select_new {
    border: medium none!important;
    border-radius: 4px!important;
    padding: 10px 15px!important;
}
/*new css for page-login*/ 
.table_cell{}
td .table_cell:hover{ background:#DFF0D8 !important;}
.border_design{}
@media (max-width: 600px) 
{
.border_design{display: none;}	
}
@media (max-width: 800px) 
{
.border_design{display: none}	
}

.custom_white{ color:#fff;}
.custom_white:hover{color:#fff; opacity:0.8 !important;}

/* new css for faq */
.panel-title_new{font-size: 13px!important; font-weight: normal!important;}
/* new css for faq */
